[Desktop Entry]
Version=3T
Name=Mongo Chef
Exec=/usr/bin/mongochef
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
X-Desktop-File-Install-Version=0.15
Icon=/opt/mongochef-4.3.0-linux-x64-dist/index.jpg
